.mainPadding{
    padding-top: 50px;
}

.marginBottom{
    margin-bottom:20px;
}

Fieldset{
    border:1px solid rgba(200, 188, 188, 0.8);
    padding:5px 10px;
    border-radius:5px;
    margin:0 0 15px 0;
}

Fieldset legend{
    border:0;
    width:auto;
    padding:5px 10px;
    margin:0 0 15px 0;
}
